body {
    font-family: Arial, sans-serif;
    background-color: #5c5959;
    margin: 0;
    padding: 0;
    color: #f8f8f8;
  }
  
  header, footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  nav a {
    color: rgb(249, 245, 245);
    text-decoration: none;
    margin: 0 10px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
  }
  
  th, td {
    border: 1px solid #494747;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #64a1f1;
  }
  
  tr:nth-child(even) {
    background-color: #303030;
  }
  
  img {
    border-radius: 8px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    padding: 8px;
    border: 1px solid #716d6d;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #001f4d;
  }
  